<div class="highlights-container">
	<div class="highlights-left">
		<div class="story">
			<?php
			$highlights->the_post();
			$link = get_permalink();
			$timeSincePost = human_time_diff(get_post_time('U', true), current_time('timestamp'));
			
			printf('<a href="%1$s"><div class="highlights-thumbnail-desktop">%2$s</div></a>', $link, get_the_post_thumbnail());
			printf('<a href="%1$s"><div class="highlights-thumbnail-mobile">%2$s</div></a>', $link, get_the_post_thumbnail(null, array('class' => '169-preview-medium')));
			printf('<a class="text-headline-medium" href="%1$s">%2$s</a>', $link, get_the_title());
			printf('<div class="category-tease">%1$s</div>', get_the_excerpt());
			printf('<div class="category-author">%1$s ago • By %2$s</div>', $timeSincePost, coauthors_posts_links(null, null, null, null, false));
			?>
		</div>
	</div>
	
	<div class="highlights-center">
		<div class="story">
			<?php
			$highlights->the_post();
			$link = get_permalink();
			$timeSincePost = human_time_diff(get_post_time('U', true), current_time('timestamp'));
			
			printf('<a href="%1$s"><div class="highlights-thumbnail-desktop">%2$s</div></a>', $link, get_the_post_thumbnail());
			printf('<a href="%1$s"><div class="highlights-thumbnail-mobile">%2$s</div></a>', $link, get_the_post_thumbnail(null, array('class' => '169-preview-medium')));
			printf('<a class="text-headline-medium" href="%1$s">%2$s</a>', $link, get_the_title());
			printf('<div class="category-tease">%1$s</div>', get_the_excerpt());
			printf('<div class="category-author">%1$s ago • By %2$s</div>', $timeSincePost, coauthors_posts_links(null, null, null, null, false));
			?>
		</div>
	</div>
	
	<div class="highlights-right">
		<div class="story">
			<div class="highlights-right-top">
				<?php
					$highlights->the_post();
					$link = get_permalink();
					$timeSincePost = human_time_diff(get_post_time('U', true), current_time('timestamp'));
					
					printf('<a href="%1$s"><div class="highlights-thumbnail-mobile">%2$s</div></a>', $link, get_the_post_thumbnail(null, array('class' => '169-preview-medium')));
					printf('<a class="text-headline-medium" href="%1$s">%2$s</a>', $link, get_the_title());
					printf('<div class="category-tease"><a href="%3$s"><div class="highlights-thumbnail-desktop">%1$s</div></a> %2$s</div>', get_the_post_thumbnail(null, array('class' => '169-preview-medium')), get_the_excerpt(), $link);
					printf('<div class="category-author">%1$s ago • By %2$s</div>', $timeSincePost, coauthors_posts_links(null, null, null, null, false));
				?>
			</div>
			
			<div class="highlights-right-bottom">
				<?php
					$highlights->the_post();
					$link = get_permalink();
					$timeSincePost = human_time_diff(get_post_time('U', true), current_time('timestamp'));
					
					printf('<a href="%1$s"><div class="highlights-thumbnail-mobile">%2$s</div></a>', $link, get_the_post_thumbnail(null, array('class' => '169-preview-medium')));
					printf('<a class="text-headline-medium" href="%1$s">%2$s</a>', $link, get_the_title());
					printf('<div class="category-tease"><a href="%3$s"><div class="highlights-thumbnail-desktop">%1$s</div></a> %2$s</div>', get_the_post_thumbnail(null, array('class' => '169-preview-medium')), get_the_excerpt(), $link);
					printf('<div class="category-author">%1$s ago • By %2$s</div>', $timeSincePost, coauthors_posts_links(null, null, null, null, false));
				?>
			</div>
		</div>
	</div>
</div>