{% if loop.first and currentPage == 1 %}

	{% include 'partials/mainArticle.html.twig' with {'class' : ''} %}

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 pull-right">
		<div class="articleGrid row">
	{% else %}

	{% if loop.first %}

		<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 pull-right">
			<div class="articleGrid row">

	{% endif %}

	{% include 'partials/articleGrid__item.html.twig' with {'class' : 'articleGrid__item--threeColumns col-md-4 col-sm-6 col-xs-12'} %}

{% endif %}

{% if loop.last  %}
	</div>
</div>
{% endif %}