<!-- Top news section feature - replace with dynamic content -->
<section id="section-news" class="fp-2x3-feature">
	<div class="left">
		<ul class="stories-teaser">
			<li class="story-item">
				<a href="https://www.thetriangle.org/news/crime-report-august-12-august-20/">
					<div class="highlights-thumbnail-mobile"></div>
				</a>
				<a class="text-headline-medium" href="https://www.thetriangle.org/news/crime-report-august-12-august-20/">Crime Report: August 12 – August 20</a>
				<div class="category-tease"><a href="https://www.thetriangle.org/news/crime-report-august-12-august-20/">
				<div class="highlights-thumbnail-desktop"></div></a> The following crimes occurred on or near campus and were reported to The Triangle by the Drexel University Department of Public Safety between Aug. 12…</div>
				<div class="category-author">By <a href="https://www.thetriangle.org/author/triangle-news-desk/" title="Posts by Triangle News Desk" class="author url fn" rel="author">Triangle News Desk</a> | Sep. 14, 2019</div>
			</li>
			<li class="story-item">
				<a href="https://www.thetriangle.org/news/west-philadelphias-best-features-lie-just-beyond-campus/">
					<div class="highlights-thumbnail-mobile"><img src="https://www.thetriangle.org/wp-content/uploads/2019/09/west-150x150.png" class="attachment-169-preview-medium size-169-preview-medium wp-post-image jetpack-lazy-image" alt="" data-lazy-srcset="https://www.thetriangle.org/wp-content/uploads/2019/09/west-150x150.png 150w, https://www.thetriangle.org/wp-content/uploads/2019/09/west-720x720.png 720w" data-lazy-sizes="(max-width: 150px) 100vw, 150px" data-lazy-src="https://www.thetriangle.org/wp-content/uploads/2019/09/west-150x150.png?is-pending-load=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="150" height="150"></div></a><a class="text-headline-medium" href="https://www.thetriangle.org/news/west-philadelphias-best-features-lie-just-beyond-campus/">West Philadelphia’s best features lie just beyond campus</a>
					<div class="category-tease"><a href="https://www.thetriangle.org/news/west-philadelphias-best-features-lie-just-beyond-campus/">
					<div class="highlights-thumbnail-desktop"><img src="https://www.thetriangle.org/wp-content/uploads/2019/09/west-150x150.png" class="attachment-169-preview-medium size-169-preview-medium wp-post-image jetpack-lazy-image jetpack-lazy-image--handled" alt="" srcset="https://www.thetriangle.org/wp-content/uploads/2019/09/west-150x150.png 150w, https://www.thetriangle.org/wp-content/uploads/2019/09/west-720x720.png 720w" data-lazy-loaded="1" sizes="(max-width: 150px) 100vw, 150px" width="150" height="150"></div></a> Drexel University’s and University of Pennsylvania’s campuses combine to create “University City,” which takes the form of an urban college town. They have the feel…</div>
					<div class="category-author">By <a href="https://www.thetriangle.org/author/ethan-hermann/" title="Posts by Ethan Hermann" class="author url fn" rel="author">Ethan Hermann</a> | Sep. 14, 2019</div>
			</li>
		</ul>
	</div>
	<div class="feature">
		<a href="https://www.thetriangle.org/news/drexel-police-to-freshmen-its-not-the-suburbs/"><img src="https://www.thetriangle.org/wp-content/uploads/2019/09/police.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image jetpack-lazy-image jetpack-lazy-image--handled" alt="" srcset="https://www.thetriangle.org/wp-content/uploads/2019/09/police.png 1152w, https://www.thetriangle.org/wp-content/uploads/2019/09/police-300x203.png 300w, https://www.thetriangle.org/wp-content/uploads/2019/09/police-768x519.png 768w, https://www.thetriangle.org/wp-content/uploads/2019/09/police-1024x692.png 1024w" data-lazy-loaded="1" sizes="(max-width: 1152px) 100vw, 1152px" width="1152" height="779"></a>
		<a class="text-headline-large" href="https://www.thetriangle.org/news/drexel-police-to-freshmen-its-not-the-suburbs/">Drexel Police to freshmen: ‘It’s not the suburbs’</a>
		<div class="frontpage-postinfo">Featured this week in News</div><div class="category-author">By <a href="https://www.thetriangle.org/author/jason-sobieski/" title="Posts by Jason Sobieski" class="author url fn" rel="author">Jason Sobieski</a> | Sep. 14, 2019</div><p>As nearly 3,500 freshmen move into Drexel University, one of the most important steps to being successful at college is learning about your new surroundings,…</p>
	</div>
	<div class="right">
		<ul class="stories-list">
			<li class="story-item">
				<a class="text-headline-small" href="https://www.thetriangle.org/news/ambition-cant-wait-for-biggest-freshman-class-yet/">‘Ambition can’t wait’ for biggest freshman class yet</a>
				<div class="category-author">By <a href="https://www.thetriangle.org/author/kiara-santos/" title="Posts by Kiara Santos" class="author url fn" rel="author">Kiara Santos</a> | Sep. 14, 2019</div><p>The incoming Drexel University freshman class has already made history based on its sheer size. Evelyn Thimba, senior vice president of enrollment management at Drexel,…</p>
			</li>
			<li class="story-item">
				<a class="text-headline-small" href="https://www.thetriangle.org/news/dragoncard-unlocks-big-discounts/">DragonCard unlocks big discounts</a>
				<div class="category-author">By <a href="https://www.thetriangle.org/author/amanda-milo/" title="Posts by Amanda Milo" class="author url fn" rel="author">Amanda Milo</a> | Sep. 14, 2019</div><p>Even though incoming freshmen do not generally need to worry about costs like food, rent or transportation to co-op, it is important to start saving…</p>
			</li>
			<li class="story-item">
				<a class="text-headline-small" href="https://www.thetriangle.org/news/drexels-excite-malcom-jenkins-foundation-offer-free-steam-camp-for-philly-kids/">Drexel’s ExCITe, Malcolm Jenkins Foundation offer free STEAM camp for Philly kids</a>
				<div class="category-author">By <a href="https://www.thetriangle.org/author/maria-paula-mijares/" title="Posts by María Paula Mijares" class="author url fn" rel="author">María Paula Mijares</a> | Aug. 6, 2019</div><p>Rising fifth to eighth graders in the Promise Zone of West Philadelphia are enjoying six weeks of fun and learning at the Drexel Young Dragons…</p>
			</li>
		</ul>
	</div>
</section>
<!-- End news section -->