{# Flytedesk medium rectangle top ad #}
{% include 'flytedesk/flytedesk-medRectTop.html.twig' %}

<div id="tx_social_widget-2" class="sidebar-item widget_tx_social_widget">
	<div class="sidebar-title">Follow Us</div>
	<ul class="social-links">
		<li class="social-item">
			<i class="fa fa-facebook" style="color: #3b5998;"></i>
			<a href="https://www.facebook.com/drexel.triangle/" target="_blank">Drexel Triangle</a>
		</li>
		<li class="social-item">
			<i class="fa fa-twitter" style="color: #00acee;"></i>
			<a href="https://twitter.com/drexeltriangle" target="_blank">@DrexelTriangle</a>
		</li>
		<li class="social-item">
			<i class="fa fa-instagram text-instagram"></i>
			<a href="https://www.instagram.com/drexeltriangle/" target="_blank">@drexeltriangle</a>
		</li>
		<li class="social-item">
			<i class="fa fa-youtube-play" style="color: #e52d27;"></i>
			<a href="https://www.youtube.com/user/DrexelTriangle" target="_blank">DrexelTriangle</a>
		</li>
	</ul>
</div>

{# Flytedesk medium rectangle secondary ad #}
{% include 'flytedesk/flytedesk-medRectBottom.html.twig' %}