{# Flytedesk medium rectangle top ad #}
{% include 'flytedesk/flytedesk-medRectTop.html.twig' %}

<div class="sidebar-item">
	<div class="sidebar-title">Sign up for our newsletter</div>

	<p>Get The Triangle's top stories directly to your inbox every Friday<p>

	<form action="//thetriangle.us2.list-manage.com/subscribe/post?u=6eb4aab81745d3436b16a6181&amp;id=7389750c95" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-wrapper" target="_blank" rel="noopener" novalidate>
		<div class="form-group">
			<label for="mce-EMAIL">Email</label>
			<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email@example.com">
		</div>
		
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6eb4aab81745d3436b16a6181_7389750c95" tabindex="-1" value=""></div>

		<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button button-primary">Subscribe</button>
	</form>
</div>

<div class="sidebar-item">
	<div class="sidebar-title">Follow Us</div>
	<ul class="sidebar-socialLinks">
		<li class="social-item">
			<img src="{{ asset('theme/img/social-fb.svg') }}" alt="Facebook Icon">
			<a href="https://www.facebook.com/drexel.triangle/" target="_blank" rel="noopener" aria-label="Like The Triangle on Facebook">Drexel Triangle</a>
		</li>
		<li class="social-item">
			<img src="{{ asset('theme/img/social-tw.svg') }}" alt="Twitter Icon">
			<a href="https://twitter.com/drexeltriangle" target="_blank" rel="noopener" aria-label="Follow The Triangle on Twitter">@DrexelTriangle</a>
		</li>
		<li class="social-item">
			<img src="{{ asset('theme/img/social-in.svg') }}" alt="Instagram Icon">
			<a href="https://www.instagram.com/drexeltriangle/" target="_blank" rel="noopener" aria-label="Follow The Triangle on Instagram">@drexeltriangle</a>
		</li>
		<li class="social-item">
			<img src="{{ asset('theme/img/social-yt.svg') }}" alt="YouTube Icon">
			<a href="https://www.youtube.com/user/DrexelTriangle" target="_blank" rel="noopener" aria-label="Subscribe to The Triangle on YouTube">DrexelTriangle</a>
		</li>
	</ul>
</div>

{# Flytedesk medium rectangle secondary ad #}
{% include 'flytedesk/flytedesk-medRectBottom.html.twig' %}