{# Flytedesk medium rectangle top ad #}
{% include 'flytedesk/flytedesk-medRectTop.html.twig' %}

<div class="sidebar-item">
	<div class="sidebar-title">Follow Us</div>
	<ul class="sidebar-socialLinks">
		<li class="social-item">
			<img src="{{ asset('theme/img/social-fb.svg') }}">
			<a href="https://www.facebook.com/drexel.triangle/" target="_blank" rel="noopener">Drexel Triangle</a>
		</li>
		<li class="social-item">
			<img src="{{ asset('theme/img/social-tw.svg') }}">
			<a href="https://twitter.com/drexeltriangle" target="_blank" rel="noopener">@DrexelTriangle</a>
		</li>
		<li class="social-item">
			<img src="{{ asset('theme/img/social-in.svg') }}">
			<a href="https://www.instagram.com/drexeltriangle/" target="_blank" rel="noopener">@drexeltriangle</a>
		</li>
		<li class="social-item">
			<img src="{{ asset('theme/img/social-yt.svg') }}">
			<a href="https://www.youtube.com/user/DrexelTriangle" target="_blank" rel="noopener">DrexelTriangle</a>
		</li>
	</ul>
</div>

{# Flytedesk medium rectangle secondary ad #}
{% include 'flytedesk/flytedesk-medRectBottom.html.twig' %}