{% extends 'base.html.twig' %}

{% block body %}

<div class="generic-wrapper">
	<!-- TODO: insert global banner top -->

	<header id="header-frontpage" class="frontpage-header">
		<div class="frontpage-logo">
			<img src="{{ asset('theme/img/logo-black.svg') }}"></img>
		</div>
		<nav>
			<div>
				<ul class="frontpage">
					<li><a href="/news">News</a></li>
					<li><a href="/opinion">Opinion</a></li>
					<li><a href="/entertainment">Arts &amp; Entertainment</a></li>
					<li><a href="/sports">Sports</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="generic-container">
		{% include 'partials/frontpage-section-news.html.twig'  %}		
	</div>

	<div class="generic-flex-container">
		<main class="flex-main">
			{# Opinion #}
			<section id="section-entertainment" class="frontpage-category-main">
				<h1 class="frontpage-category-title"><a href="/opinion">Opinion</a></h1>

				{# List all articles from current route and limit them to `itemsPerPage` value starting from `start` value #}
				
				{% gimmelist article from articles|start(0)|limit(6)|order('publishedAt','desc') with {'route': '/opinion'}  %}
					{% include 'partials/frontpage-section-generic.html.twig' %}
				{% endgimmelist %}
			</section>

			{# Entertainment #}
			<section id="section-entertainment" class="frontpage-category-main">
				<h1 class="frontpage-category-title"><a href="/entertainment">Entertainment</a></h1>

				{# List all articles from current route and limit them to `itemsPerPage` value starting from `start` value #}
				
				{% gimmelist article from articles|start(0)|limit(6)|order('publishedAt','desc') with {'route': '/entertainment'}  %}
					{% include 'partials/frontpage-section-generic.html.twig' %}
				{% endgimmelist %}
			</section>

			{# Sports #}
			<section id="section-entertainment" class="frontpage-category-main">
				<h1 class="frontpage-category-title"><a href="/sports">Sports</a></h1>

				{# List all articles from current route and limit them to `itemsPerPage` value starting from `start` value #}
				
				{% gimmelist article from articles|start(0)|limit(6)|order('publishedAt','desc') with {'route': '/sports'}  %}
					{% include 'partials/frontpage-section-generic.html.twig' %}
				{% endgimmelist %}
			</section>
	  	</main>
				
		
		<aside class="flex-sidebar">
			<div id="tx_social_widget-2" class="sidebar-item widget_tx_social_widget">
				<div class="sidebar-title">Follow Us</div>
				<ul class="social-links">
					<li class="social-item">
						<i class="fa fa-facebook" style="color: #3b5998;"></i>
						<a href="https://www.facebook.com/drexel.triangle/" target="_blank">Drexel Triangle</a>
					</li>
					<li class="social-item">
						<i class="fa fa-twitter" style="color: #00acee;"></i>
						<a href="https://twitter.com/drexeltriangle" target="_blank">@DrexelTriangle</a>
					</li>
					<li class="social-item">
						<i class="fa fa-instagram text-instagram"></i>
						<a href="https://www.instagram.com/drexeltriangle/" target="_blank">@drexeltriangle</a>
					</li>
					<li class="social-item">
						<i class="fa fa-youtube-play" style="color: #e52d27;"></i>
						<a href="https://www.youtube.com/user/DrexelTriangle" target="_blank">DrexelTriangle</a>
					</li>
				</ul>
			</div>
		</aside>
	</div>
</div>

{% endblock %}