{% extends 'base.html.twig' %}

{% block title %}The Triangle - The Independent Student Newspaper at Drexel University{% endblock %}

{% block body %}

<div class="frontpage-navbar-container">
	<div id="search-icon-frontpage" class="header-search-icon black">
		<i class="material-icons md-36">search</i>
	</div>
	
	<div class="search-container">
		<form class="search-form" id="search" name="search_articles" method="GET" action="/search" role="search">
			<input class="search-textbox" id="searchbox-frontpage" type="text" name="q" placeholder="Search..." value="" name="s">
		</form>
	</div>
	
	<div class="frontpage-navbar-links">
		<a href="/about" rel="About">About Us</a> |
		<a href="/advertising" rel="Advertising">Advertising</a> |
		<a href="/classifieds" rel="Classifieds">Classifieds</a> |
		<a href="/contact" rel="Contact">Contact</a>
	</div>
	
	<div id="nav-icon-frontpage" class="header-hamburger-icon black"><span></span><span></span><span></span></div>
</div>

<div class="generic-wrapper">
	{# Flytedesk leaderboard ad #}
	{% include 'flytedesk/flytedesk-bannerTop.html.twig' %}

	<header id="header-frontpage" class="frontpage-header">
		<div class="frontpage-logo">
			<img src="{{ asset('theme/img/logo-black.svg') }}"></img>
		</div>
		<nav>
			<div>
				<ul class="frontpage">
					<li><a href="/news">News</a></li>
					<li><a href="/opinion">Opinion</a></li>
					<li><a href="/entertainment">Arts &amp; Entertainment</a></li>
					<li><a href="/sports">Sports</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div class="generic-container">
		{# List top stories. Currently used for news section's latest articles only #}
		{% gimmelist article from articles|start(0)|limit(6)|order('publishedAt','desc') with {'route': '/news'}  %}
			{% include 'partials/frontpage-topStories.html.twig' %}
		{% endgimmelist %}
	</div>

	<div class="generic-flex-container">
		<main id="latest-articles" class="flex-main">
			{# Opinion #}
			<section id="section-entertainment" class="frontpage-category-main">
				<h1 class="frontpage-category-title"><a href="/opinion">Opinion</a></h1>

				{# List all articles from current route and limit them to `itemsPerPage` value starting from `start` value #}				
				{% gimmelist article from articles|start(0)|limit(6)|order('publishedAt','desc') with {'route': '/opinion'}  %}
					{% include 'partials/frontpage-sectionLatest.html.twig' %}
				{% endgimmelist %}
			</section>

			{# Entertainment #}
			<section id="section-entertainment" class="frontpage-category-main">
				<h1 class="frontpage-category-title"><a href="/entertainment">Entertainment</a></h1>

				{# List all articles from current route and limit them to `itemsPerPage` value starting from `start` value #}				
				{% gimmelist article from articles|start(0)|limit(6)|order('publishedAt','desc') with {'route': '/entertainment'}  %}
					{% include 'partials/frontpage-sectionLatest.html.twig' %}
				{% endgimmelist %}
			</section>

			{# Sports #}
			<section id="section-entertainment" class="frontpage-category-main">
				<h1 class="frontpage-category-title"><a href="/sports">Sports</a></h1>

				{# List all articles from current route and limit them to `itemsPerPage` value starting from `start` value #}				
				{% gimmelist article from articles|start(0)|limit(6)|order('publishedAt','desc') with {'route': '/sports'}  %}
					{% include 'partials/frontpage-sectionLatest.html.twig' %}
				{% endgimmelist %}
			</section>
	  	</main>
				
		
		<aside class="flex-sidebar">
			{% include 'partials/sidebar.html.twig' %}
		</aside>
	</div>

	{# Flytedesk foot banner ad #}
	{% include 'flytedesk/flytedesk-bannerBottom.html.twig' %}
</div>

{% endblock %}