{% extends 'base.html.twig' %}

{% block title %}{{ gimme.article.lead }} - The Triangle{% endblock %}

{% block body %}

<div class="generic-wrapper">
	<div class="category-title">
		<center><h1 class="text-title-large">{{ gimme.article.lead }}</h1></center>
	</div>

	<div class="generic-container">
		<div class="page-container">
			{{ gimme.article.body }}
		</div>
	</div>
</div>

{% endblock %}