// TODO: remove variables from sass code and delete this file

$fontRegular: 'Source Sans Pro', sans-serif;
$fontSerif: 'Crimson Text', serif;

$colorBody: #F2F2F2;
$colorWhite: #fff;
$colorDark: #333333;
$colorTheme: #00a9e1;