.button
{
	background:rgba(255, 255, 255, 0) none repeat scroll 0% 0%;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid rgb(18, 18, 18);
	border-radius: 0.25rem;
	color: rgb(18, 18, 18);
	cursor: pointer;
	display: block;
	font-family: $triangle-font-main;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.03rem;
	line-height: 1.4rem;
	padding: .375rem .75rem;
	transition: all 0.6s ease 0s;
	white-space: nowrap;
}

.button-primary
{
	color: #fff;
	background: $triangle-color-blue;
	border: 1px solid $triangle-color-blue;
}