/*.form-wrapper
{
}*/

.form-group
{
	margin-bottom: 1rem;

	label
	{
		display: inline-block;
		font-weight: 700;
		margin-bottom: 0.5rem;
	}
}

/* Text box input */
.form-control[type=text],
.form-control[type=email],
.form-control[type=password]
{
	display: block;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	box-sizing: border-box;
	flex: 1 1 auto;
	font-family: $triangle-font-main;
	font-size: 0.8125rem;
	font-weight: 400;
	letter-spacing: 0.0125rem;
	padding: .375rem .75rem;
	width: 100%;

	&:focus
	{
		border-color: #80bdff;
		box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
	}
}

/* Used to make text input/button combo */
.form-input-group
{
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	& > .form-control
	{
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
		width: auto;
	}

	.form-input-group-append
	{
		display: flex;

		& > .button
		{
			border-bottom-left-radius: 0px;
			border-top-left-radius: 0px;
		}
	}
}