.share-container
{
	align-items: center;
	display: flex;
	height: 50px;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.share-button
{
	align-items: center;
	display: flex;
	background-color: #eee;
	border: 1px solid transparent;
	border-radius: 50%;
	margin: 0px;
	margin-right: 15px;

	&:hover
	{
		background: #fff;
		border: 1px solid #ccc;
	}

	a
	{
		cursor: pointer;
		line-height: 0px;
		padding: 6px;
	}

	img
	{
		height: 15px;
		width: 15px;
	}
}

.share-button-mobile
{
	align-items: center;
	display: none;
	background-color: #eee;
	border: 1px solid transparent;
	border-radius: 50%;
	margin: 0px;
	margin-right: 15px;

	a
	{
		line-height: 0px;
		padding: 6px;
	}

	img
	{
		height: 15px;
		width: 15px;
	}
}

.share-modal
{
	display: none;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.28) 0px 0px 4px;
	left: -390px;
	position: absolute;
	top: 50px;
	width: 430px;
	z-index: 1;

	&.open
	{
		display: block;
	}

	.share-modal-container
	{
		display: flex;
		flex-flow: row wrap;
		list-style: none;
		padding: 0px;
		margin: 0px;
		margin-bottom: .5rem;
		margin-top: .5rem;
		width: 100%;
	}

	.share-modal-block
	{
		height: 2.5rem;
		flex: 0 0 50%;
		font-size: 0px;

		&:hover
		{
			background-color: #E1E1E0;
		}

		a
		{
			color: #000;
			font-family: $triangle-font-main;
			font-size: 0.9rem;
			line-height: 2.5rem;
			margin: 0px;
			padding-left: 1rem;
			text-decoration: none;
		}
	}
}

@media screen and (max-width: $screen-target-min)
{
	.share-button
	{
		display: none;
	}

	.share-button-mobile
	{
		display: flex;
	}
}